html *
{
   font-size: 1em !important;
   color: #000 !important;
   font-family: Roboto, sans-serif;
}

h1{
  text-align: center;
}  
  /* CONTENT CSS */
  input[type=number] {
    background-color: #83d2de !important;
    border-color: #83d2de;
    width: 100px;
    padding: 5px;
    display: inline-block
  }
  input[type=number]:focus {
    border: 3px solid #555;
  }
  label, input {
      display: block;
  }
  label {
      margin-bottom: 20px;
  }
#calculate{
  background-color: #17a2b8;
  border-color: #17a2b8;
  font-family: Roboto, sans-serif;
  font-size: 25px;
  color: black;
  text-align: center;
  padding: 6px 40px;
  margin: 0 auto; 
  display: block;
}

.underweight{
  color: blue !important
}
.healthy{
  color:green  !important
}
.overweight{
  color: #F7BE15 !important
}
.obese{
  color: orange !important
}
.eobese{
  color: red !important
}
